div.ruuvi-api-sensors {
    /* Row styles */
    &.row {
        .sensor {
            margin-top: 8px;
            &.large {
                font-size: 32px;
            }
        }
        .name {
            width: 200px;
            text-align: left;
            &.large {
                width: auto;
            }
        }
        .icon {
            margin-right: 10px;
        }
        .battery-empty-icon {
            margin-left: 10px;
            color:#ff6666;
            font-size:16px;
            &.large {
                font-size: 24px;
            }
        }
        .date {
            font-size: 16px;
            text-align: left;

            &.large {
                font-size: 32px;
            }
        }
        .measurement {
            width: 100px;
            padding: 4px;
            display: inline-table;
            text-align: left;
            &.wide {
                width: 136px;
            }
            &.large {
                width: 180px;

                &.wide {
                    width: 200px;
                }
            }
        }
        .paddingTop {
            padding-top: 8px;
        }
    }

    /* Column styles */
    &.col {
        div.sensors-container {
            display: flex;
            width: 360px;
            margin-top: 8px;

            &.large {
                width: auto;
            }
        }
        div.sensor {
            border-radius: 8px;
            border: 1px solid rgba(255,255,255,0.5);
            width: 180px;
            &.noborder {
                border: none;
            }
            &.marginLeft {
                margin-left: 8px;
            }
            div.measurement {
                padding: 4px;
                text-align: center;
                &.smallFont {
                    font-size: 16px;
                }
                span.icon {
                    margin-right:8px;
                }
                &.large {
                    font-size: 32px;
                    &.smallFont {
                        font-size: 24px;
                    }
                }
                span.battery-empty-icon {
                    margin-left:8px;
                    color:#ff6666;
                    font-size:16px;
                    &.large {
                        font-size:24px;
                    }
                }
            }

            &.large {
                width: 320px;
            }
        }
    }
}
